a:link {
    text-decoration: none;
}

a:hover {
    color: black;
}

a:active {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:focus {
    text-decoration: none;
}

.font-style {
    font-size: 16px;
    color: gray;
}